.pieChartContainer {
  background-color: rgb(241, 240, 240);
  width: 320px;
  height: 320px;
  border-radius: 5%;
}
.pieChartContainer header {
  margin-left: 1rem;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.pieChartContainer p {
  text-align: end;
}
