.Footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(20, 36, 51);
}

.Footer p {
  margin: 0rem;
  padding: 0.2rem;
}
.subHeadingFooter {
  font-size: 0.8rem;
}
.Footer a {
  color: teal;
  margin: 0rem;
  text-decoration: none;
}
