.MainResultPageContainer {
  height: 100vh;
}
.LoadingText {
  text-align: center;
  margin: 0;
  font-size: 3rem;
  color: white;
  padding-top: 45vh;
}

 .chartContainer {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}
.chartContainer div {
  margin: 1rem;
}

@media screen and (max-width: 690px) {
  .chartContainer {
      display: block;
      background-color: rgb(19, 25, 31);
      /* height: 100vh; */
  }
  .chartContainer div {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem
      
  } 
 }
