.MainResultPageContainer {
  background-color: rgb(19, 25, 31);
  /* min-width: 350px; */
  /* background-color: white; */
  height: 100vh;
}
.LoadingText {
  text-align: center;
  margin: 0;
  font-size: 3rem;
  color: white;
  padding-top: 45vh;
}
