 .MainResultPageContainer {
  height: 100vh;
  min-height: 800px;
  background-color: rgb(19, 25, 31);
} 
.LoadingText {
  text-align: center;
  margin: 0;
  font-size: 3rem;
  color: white;
  padding-top: 45vh;
}

.chartContainer {
  display: flex;
  justify-content: center;
}
.chartContainer div {
  margin: 1rem;
}

 @media screen and (max-width: 690px) {
  .chartContainer {
    background-color: rgb(19, 25, 31);
    padding-bottom: 1rem;
    display: block;
  }
  .chartContainer div {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem
      
  } 
 } 
